# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid

# SageMath
.sage/

# VS Code
.vscode/
.idea/
*.swp
*.swo

# Frontend
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Backend
/backend/.env
/backend/.env.local
/backend/venv/
/backend/.venv/
/backend/*.db
/backend/app/static/uploads/*
!/backend/app/static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
